body {
  margin: 0px;
}

#index h1 {
  position: absolute;
  top: 10vh;
  width: 100vw;
  text-align: center;
  color: white;
}

#index .signature {
  color: white;
  height: 20px;
  margin: 0;
  margin-top: -25px;
  text-align: center;
}

#index .system {
  transform: translate(-50px);
}

#index .navigation {
  position: absolute;
  top: 70vh;
  width: 100vw;
  color: white;
  padding: 0;
  text-align: center;
}

#index .navigation li {
  display: inline-block;
  padding-left: 50px;
}

#index h1, h2, p {
  cursor: pointer;
}
