.links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links li {
    float: left;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    .links {
        position: absolute;
        top: 0;
        left: 0;
        display: inline;
        justify-content: center;
        align-items: center;
    }
    .links li {
        float: none;
    }
}

.links li a {
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
}