.portfolio ul {
    list-style-type: none;
    padding: 0;
}

.portfolio ul a li {
    background: rgba(50,50,50,0.75);
    margin: 10px;
    display: inline-block;
    width: 30vw;
    height: 75px;
    border-radius: 25px;
}

.portfolio ul a li:hover {
    background: rgba(50,50,50,1);
}

.portfolio ul a {
    color: white;
    text-decoration: none;
}

.portfolio span {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    .portfolio {
        position: relative;
        top: -50vh;
        right: -50vw;
        width: 50vw;
        height: 100vh;;
    }
}