{{block "all" .}}
    {{template "head" .}}
        {{template "title" .}}
        {{template "nav" .}}
        {{template "admin" .}}
        {{if eq .Document nil}}
        <h2>Live Posts</h2>
            <ul>
            {{range .Handler.MarkdownStore.Documents}}
            <li><a href="/all/{{.Id}}">{{.Title}}</a></li>
            {{end}}
            </ul>
        <h2>Drafts</h2>
            <ul>
            {{range .Handler.MarkdownStore.Drafts}}
            <li><a href="/all/{{.Id}}">{{.Title}}</a></li>
            {{end}}
            </ul>
        {{else}}
        {{template "document" .Document}}
        {{end}}
    {{template "foot" .}}
{{end}}
