{{block "edit" .}}
<div>
        {{if ne .Document nil}}
        {{if .Admin}}
        <hr/>
        <h2>Admin</h2>
        <form hx-encoding='multipart/form-data' hx-put="/{{.Page}}/{{.Document.Id}}" hx-target="#document" hx-push-url="true" hx-trigger="input delay:500ms">
            <label>Title </label>
            <input name="title" type="text" value="{{.Document.Title}}"/><br/>
            <label>Content </label><br/>
            <textarea rows="30" cols="100" name="content">{{.Document.Content}}</textarea><br/>
            <label>File </label>
            <input name="file" type="file"/><br/>
            <a hx-boost="false" href="/download/{{.Document.Id}}">
                Download as File
            </a>
            <label>Tags </label>
            <input name="tags" type="text" value='{{join .Document.Tags ","}}'/><br/>
            <button type="submit">Update</button>
        </form>
        <button hx-delete="/{{.Page}}/{{.Document.Id}}" hx-target="body" hx-push-url="true">
            Delete this Document
        </button>
        <hr/>
        {{end}}
        {{end}}
</div>
{{end}}
