{{block "nav" .}}
<nav>
    <a href="/">home</a>
    <a href="/projects">projects</a>
    <a href="/writing">write-ups</a>
    <a href="/contact">contact</a>
    {{if .Admin}}
    <span>Admin Links:</span>
    <a href="/all">all</a>
    <a href="/create">create</a>
    <a href="/asset">assets</a>
    <a href="" hx-post="/deauth" hx-target="body" hx-push-url="true">LogOut</a>
    {{end}}
</nav>
<form action="/search" hx-get="/search" hx-target="#searchResults" hx-trigger="input delay:500ms">
    <label>Search</label>
    <input name="q" type="text" />
</form>
<div id="searchResults"></div>
{{end}}
