{{ $ctxt := index . 0 }}
{{ $tags := index . 1 }}
<form hx-get="?" hx-trigger="input" hx-target="body" hx-push-url="true" class="flex flex-wrap gap-2">
    {{range $tags}}
    {{$color := .Color}}
    {{if eq $color nil}}
        {{$color = "white"}}
    {{end}}
    <input type="checkbox" name="filter-tag" value="{{.Value}}" id="tag-{{.Value}}" class="hidden" 
    {{if (includes .Value $ctxt.FilterTags)}} checked {{end}} />
    <label for="tag-{{.Value}}" 
        class="cursor-pointer bg-black-500 text-white-500 rounded-full px-4 py-1 text-sm"
        style="
        {{if (includes .Value $ctxt.FilterTags)}}
            background: {{$color}};
            color: var(--color-black-500);
        {{else}}
            border: 1px solid;
            border-color: {{$color}};
        {{end}}"
    >
    <span class="font-bold">{{.Value}}</span>
    </label>
    {{end}}
</form>
