<nav hx-boost="true" class="flex justify-center gap-x-4 mt-16">
    {{template "navitem" (arr "/" "home")}}
    {{template "navitem" (arr "/projects" "projects")}}
    {{template "navitem" (arr "/contact" "contact")}}
    {{if .Admin}}
    <span>Admin Links:</span>
    {{template "navitem" (arr "/admin/documents" "documents")}}
    {{template "navitem" (arr "/admin/assets" "assets")}}
    <a class="underline" href="" hx-post="/deauth" hx-target="body" hx-push-url="true">LogOut</a>
    {{end}}
</nav>
