{{ $project := index . 0 }}
{{ $ctxt := index . 1 }}
<div class="w-3/8 lg:w-1/4" id="project-{{$project.Id}}">
    <div class="project-info">
        {{template "project" $project}}
    </div>
    {{if $ctxt.Admin}}
    <form hx-put="/project/{{$project.Id}}" hx-target="previous .project-info">
        <label>Description </label>
        <input name="description" type="text" value="{{$project.Description}}" /><br />
        <label>Tags </label>
        <input name="tags" type="text" value='{{join $project.Tags ","}}' /><br />
        <button type="submit">Update</button>
    </form>
    {{end}}
</div>
