<a href="/">
<pre class="text-lg/5">
███████╗ █████╗ ███╗   ███╗██╗   ██╗███████╗██╗         ██╗      █████╗ ███╗   ██╗██████╗  ██████╗ 
██╔════╝██╔══██╗████╗ ████║██║   ██║██╔════╝██║         ██║     ██╔══██╗████╗  ██║██╔══██╗██╔═══██╗
███████╗███████║██╔████╔██║██║   ██║█████╗  ██║         ██║     ███████║██╔██╗ ██║██║  ██║██║   ██║
╚════██║██╔══██║██║╚██╔╝██║██║   ██║██╔══╝  ██║         ██║     ██╔══██║██║╚██╗██║██║  ██║██║   ██║
███████║██║  ██║██║ ╚═╝ ██║╚██████╔╝███████╗███████╗    ███████╗██║  ██║██║ ╚████║██████╔╝╚██████╔╝
╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝ ╚═════╝ ╚══════╝╚══════╝    ╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝  ╚═════╝
</pre>
</a>
